*{
    padding: 0px;
    margin: 0px; 
  
  }
  :root{
    --primary:#A259FF;
    --background:#2b2b2b;
    --background2:#3b3b3b;
    --lg-radius:8px ;
    --md-radius: 6px ;
    --sm-radius: 4px ; 
  }
  
.body{
    padding: 150px 0px ;
    display: flex;
    align-items: center;
    
}
.card{
    flex-grow: 1;
background-color: var(--background);
padding: 20px 30px  ;
border: 5px solid var(--primary);
border-radius: 20px ;
margin-right: 40px ;
color: white;
position: relative;
}
.word
{
    margin-bottom: 20px ;
}
.auther{
    color: rgba(255, 255, 255, 0.3);

    position: absolute;
    right: 15px ;
    bottom: 0px;
}


.btn{
    background-color: var(--background);
    border: 2px solid var(--primary);
    border-radius: 6px ;
    padding: 5px 20px  ;
    color: white;
    font-size: 20px ;
    font-weight: 500;
    cursor: pointer;
    transition: 400ms;
}

.btn:hover{
    background-color: var(--primary);
    color: white;
}
